@mixin flex-box($direction: row, $justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin globalBtn {
  background-color: #F1F1F1;
  border-radius: 5px;
  border: none;
  padding: 7px;  
  font-size: 13pt;
  margin-right: 5px;
}