@use '../../assets/scss/mixins.scss';
@use '../../assets/scss/palette.scss';

.Carousel {
  margin: 100px auto;
  width: 500px;
  height: 350px;
  color: palette.$dark-slate-gray;

  &__content {
    @include mixins.flex-box();
    height: 100%;
    position: relative;

    &_arrLeft, &_arrRight {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 60pt;
      z-index: 1;
    }

    &_arrLeft {
      left: 32px;
    }

    &_arrRight {
      right: 32px;
    }

    &_nav {
      @include mixins.flex-box();
      font-size: 40pt;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 50;
    }
  }
}

.cImg {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

