@use '../src/assets/scss/mixins.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  @include mixins.flex-box();
  min-width: 320px;
  min-height: 100vh;
  font-size: 16pt;
  background: fixed center url('./assets/images/bg.jpg');
  background-size: cover;
}

.Container {
  width: 80%;
  max-width: 1800px;
}