@use '../src/assets/scss/mixins.scss';

$body-padding: 50px;

* {
  margin: 0;
  padding: 0;
}

body {
  @include mixins.flex-box();
  min-width: 320px;
  min-height: 100vh;
  font-size: 16pt;
  background: fixed center url('./assets/images/bg.jpg');
  background-size: cover;
}

.Container {
  background-color: rgba(white, .8);
  width: 100vw;
  // width: calc(100vw - $body-padding*2);
  // padding: $body-padding;
}