@use '../../assets/scss/mixins.scss';
@use '../../assets/scss/variables.scss';
@use '../../assets/scss/palette.scss';

.Header {
  @include mixins.flex-box();
  width: 100%;
  background-color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px #DDD;
  z-index: 50;
  

  &__content {
    @include mixins.flex-box($justify: space-between);
    width: variables.$max-content-width;
  }
}